/*去掉标签的默认样式*/
body,h1,h2,h3,h4,h5,h6,p,pre,ol,ul,li,form,input,textarea,dl,dt,dd{
	margin:0;
	padding:0;
}
ul,ol{
	list-style:none;
}
a{
	text-decoration:none;
}
body{
	background:#fff;
}
img{
  border: 0;
}
a,button,input{
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-appearance: none;
}
body{
		-webkit-user-select:none;
		-webkit-text-size-adjust:100%;
		-webkit-overflow-scrolling:touch;
}
*{
		font-family: "helvetica";
		max-height:9999999px;
}
figure{
	margin: 0;
	padding: 0;
}